@font-face {
  font-family: 'Poltawski Nowy';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poltawskinowy/v5/flUsRq6ww480U1xsUpFXD-iDBNlSAOLkKCLnWq8KqCWnDQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Poltawski Nowy';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poltawskinowy/v5/flUsRq6ww480U1xsUpFXD-iDBNlSAOLkKCLnWq8KdiKnDQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Poltawski Nowy';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poltawskinowy/v5/flUsRq6ww480U1xsUpFXD-iDBNlSAOLkKCLnWq8KTyKnDQ.ttf) format('truetype');
}
.axiom.sheet.characterSheet .sheet {
  width: 800px;
  height: 500px;
}
.axiom.sheet.characterSheet .window-content {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 100%;
  overflow: hidden;
  padding: 0;
}
.axiom.sheet.characterSheet .axiom-sidebar {
  padding: 10px;
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  box-sizing: border-box;
  border-right: 1px solid;
  margin-top: 10px;
  margin-bottom: 10px;
}
.axiom.sheet.characterSheet .sidebar-portrait {
  margin-bottom: 10px;
}
.axiom.sheet.characterSheet .sidebar-portrait img {
  cursor: pointer;
  border-radius: 5px;
}
.axiom.sheet.characterSheet .sidebar-name {
  padding-bottom: 10px;
}
.axiom.sheet.characterSheet .sidebar-name input#character-name {
  font-family: "Poltawski Nowy", serif;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  background: transparent;
}
.axiom.sheet.characterSheet .tracker-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 10px;
}
.axiom.sheet.characterSheet .tracker-block {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.axiom.sheet.characterSheet .tracker-label {
  font-size: 20px;
  text-align: center;
}
.axiom.sheet.characterSheet .tracker-controls {
  display: flex;
  align-items: center;
  margin: auto;
  font-size: 20px;
}
.axiom.sheet.characterSheet .tracker-btn {
  width: 1.2rem;
  height: 2rem;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.axiom.sheet.characterSheet .tracker-controls input {
  width: 1.5rem;
  text-align: center;
  box-sizing: border-box;
  padding: 0;
}
.axiom.sheet.characterSheet .tracker-bottom-row {
  display: grid;
}
.axiom.sheet.characterSheet .tracker-toughness {
  grid-column: 1;
}
.axiom.sheet.characterSheet .tracker-movement {
  grid-column: 2;
}
.axiom.sheet.characterSheet .tracker-corruption {
  grid-column: 3;
}
.axiom.sheet.characterSheet .attributes-grid {
  display: grid;
}
.axiom.sheet.characterSheet .stats-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto auto;
  text-align: center;
  gap: 4px;
  margin: auto;
  padding: 10px;
}
.axiom.sheet.characterSheet .attributes-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  padding: 10px;
  margin-bottom: 10px;
}
.axiom.sheet.characterSheet .attribute {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5px;
}
.axiom.sheet.characterSheet .attribute input {
  width: 3rem;
  margin: 0 auto;
  text-align: center;
}
.axiom.sheet.characterSheet .sidebar-tabs {
  display: flex;
  gap: 0.25rem;
  margin-bottom: 10px;
}
.axiom.sheet.characterSheet .sidebar-tabs .item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
}
.axiom.sheet.characterSheet .attribute-tests {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.axiom.sheet.characterSheet .attr-test-row {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  gap: 0.5rem;
}
.axiom.sheet.characterSheet .attr-test-roll {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.axiom.sheet.characterSheet .sidebar-tabs {
  margin-bottom: 10px;
}
