<div class="main">
<nav class="sheet-tabs" data-group="main">
  <a class="item" data-tab="skills">Skills</a>
  <a class="item" data-tab="equipment">Equipment</a>
  <a class="item" data-tab="expertise">Expertise</a>
</nav>

<section class="sheet-content">

  <div class="tab" data-tab="skills">
    {{> "systems/axiom/templates/partials/tabs/skills.hbs"}}
  </div>

</section>
</div>
