<div
  class="axiom-main-tabs"
  data-application-part="tabs"
  data-application-tabs="sheet"
>
  <nav class="sheet-tabs tabs" aria-roledescription="Main Navigation">
    {{#each tabs.sheet as |tab|}}
    <a
      data-action="tab"
      data-group="{{tab.group}}"
      data-tab="{{tab.id}}"
      class="{{tab.cssClass}}"
    >
      {{#if tab.icon}}<i class="{{tab.icon}}"></i>{{/if}}
    </a>
    {{/each}}
  </nav>

  <!-- TAB CONTENT (injected by AppV2) -->
  <div class="sheet-content">
    <section data-application-part="skills"></section>
    <section data-application-part="combat"></section>
    <section data-application-part="inventory"></section>
    <section data-application-part="details"></section>
  </div>
</div>
