<section class="sheet-body tab flexcol {{tabs.details.cssClass}}"
         data-tab="{{tabs.details.id}}"
         data-group="{{tabs.details.group}}">

  <div class="armor-details">
    <p>Armor details form goes here.</p>
  </div>

</section>
