<section class="tab-section description-tab editor-section">
  {{formInput editorFields.description.value name="system.description.value" value=source.system.description.value enriched=enriched.system.description.value toggled=true}}
</section>
